extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.top-slider.js-top-slider
		.container
			.row
				.col-12
					.top-slider__list.js-top-slider-list
						-
							var list=[
								{label:'Тонирующие маски', title:'Bombshell Masques', img:'top-slide1.png', img_mob:'top-slide1-mobile.png'},
								{label:'Тонирующие маски 2', title:'Bombshell Masques 2', img:'top-slide2.png', img_mob:'top-slide2-mobile.png'},
								{label:'Тонирующие маски 3', title:'Bombshell Masques 3', img:'top-slide3.png', img_mob:'top-slide3-mobile.png'},
							]
						each item in list
							.top-slider__item
								.top-slider__content
									.top-slider__info
										.top-slider__label= item.label
										.top-slider__title= item.title
										.top-slider__tag Ultra Blonde | Red Red | Lavander

										.top-slider__btn
											a.btn.btn_border(href='#') Подробнее

									.top-slider__img
										picture
											source(srcset='assets/img/'+item.img_mob, media='(max-width: 767px)')
											img(src="assets/img/"+item.img, alt="")

					.top-slider__arr.js-top-slider-arr

	section.cat-sect-wrap
		.container
			.row
				-
					var list=[
						{
							title:'Домашний уход',
							title2:'с',
							nbsp:'true',
							title_nbsp:'кератином',
							img:'cat-sect1.png',
							sub:[
								{text:'Шампуни и кондиционеры'},
								{text:'Тонирующие продукты'},
								{text:'Маски c кератином'},
								{text:'Стайлинг'},
								{text:'Сыворотки'},
								{text:'Наборы GKBox'},
								{text:'Спреи'},
								{text:'Подарочные карты'},
							]
						},

						{
							title:'Приборы',
							title2:'и',
							nbsp:'true',
							title_nbsp:'аксессуары',
							img:'cat-sect2.png',
							sub:[
								{text:'Техника'},
								{text:'Расчески'},
								{text:'Аксессуары'},
							]
						},

						{
							title:'Кератиновое восставновление',
							title2:'и',
							nbsp:'true',
							title_nbsp:'выпрямление',
							img:'cat-sect3.png',
							sub:[
								{text:'Классические кератиновые составы'},
								{text:'Составы на основе глиоксиловой кислоты'},
							]
						},

						{
							title:'Система',
							title2:'окрашивания',
							img:'cat-sect4.png',
							sub:[
								{text:'Краситель Cream Color'},
								{text:'Защитная добавка'},
								{text:'Осветляющие продукты'},
								{text:'Защита цвета'},
								{text:'Оксиды'},
							]
						},
					]
				each item in list
					.col-lg-6
						.cat-sect
							.cat-sect__top
								.cat-sect__title
									a(href="#") 
										b= item.title
										| 
										=item.title2
										if(item.nbsp)
											|&nbsp;
											=item.title_nbsp

								.cat-sect__img
									img(src="assets/img/"+item.img, alt="")

							ul.cat-sect-sub
								each sub in item.sub
									li.cat-sect-sub__item
										a(href="#").cat-sect-sub__link= sub.text
	
	section.cat-list-slider-wrap
		.container
			.row
				.col-12
					.h1.text-center Популярные продукты

					.cat-list-slider.js-cat-list-slider
						-
							var list=[
								{
									img:'catalog1.jpg',
									title:'Dry Oil Shine Spray GKhair 115 мл.',
									text:'Сухое масло - спрей для блеска',
									status:'Достаточно',
									price:'1 215 ₽',
									sticker:[
										{text:'хит'},
									]
								},

								{
									img:'catalog2.jpg',
									title:'VolumizeHer Spray GKhair 30 мл.',
									text:'Спрей для создания объёма',
									status:'Мало',
									price:'580 ₽',
									sticker:[
										{icon:'ic-present', icon_width:'20', icon_height:'18', color:'purple'},
									]
								},

								{
									img:'catalog3.jpg',
									title:'Moisturizing Box',
									text:'Набор увлажняющий',
									status:'Достаточно',
									price:'2 720 ₽',
									sticker:[
										{text:'new', color: 'green'},
										{icon:'ic-sale', icon_width:'23', icon_height:'18', color: 'yellow'},
									]
								},

								{
									img:'catalog4.jpg',
									title:'Cashmere GKhair 50 мл.',
									text:'Крем - кашемир, сыворотка',
									status:'Много',
									price:'1 700 ₽',
									sticker:[
										{icon:'ic-like', icon_width:'20', icon_height:'20', color: 'pink'},
									]
								},

								{
									img:'catalog2.jpg',
									title:'VolumizeHer Spray GKhair 30 мл.',
									text:'Спрей для создания объёма',
									status:'Мало',
									price:'580 ₽',
									sticker:[
										{icon:'ic-present', icon_width:'20', icon_height:'18', color:'purple'},
									]
								},

								{
									img:'catalog3.jpg',
									title:'Moisturizing Box',
									text:'Набор увлажняющий',
									status:'Достаточно',
									price:'2 720 ₽',
									sticker:[
										{text:'new', color: 'green'},
										{icon:'ic-sale', icon_width:'23', icon_height:'18', color: 'yellow'},
									]
								},

								{
									img:'catalog4.jpg',
									title:'Cashmere GKhair 50 мл.',
									text:'Крем - кашемир, сыворотка',
									status:'Много',
									price:'1 700 ₽',
									sticker:[
										{icon:'ic-like', icon_width:'20', icon_height:'20', color: 'pink'},
									]
								},

								{
									img:'catalog1.jpg',
									title:'Dry Oil Shine Spray GKhair 115 мл.',
									text:'Сухое масло - спрей для блеска',
									status:'Достаточно',
									price:'1 215 ₽',
									sticker:[
										{text:'хит'},
									]
								},
							]
						each item in list
							.cat-item
								.cat-item__img-wrap
									.sticker
										each sticker in item.sticker
											.sticker__item
												.sticker__bg(class=sticker.color?'sticker__bg_'+sticker.color:'')
													if(sticker.icon == 'ic-sale')
														+svg('bg-sale','bg-sale', '50', '50')
													else
														+svg('bg-sticker','bg-sticker', '50', '50')

												if(sticker.text)
													.sticker__text=sticker.text

												if(sticker.icon)
													.sticker__icon
														+svg(sticker.icon, sticker.icon, sticker.icon_width, sticker.icon_height)

									a(href="#").cat-item__img
										img(src="assets/img/"+item.img, alt="")


								.cat-item__content
									.cat-item__info
										.cat-item__title
											a(href="#")= item.title

										.cat-item__text= item.text

									.cat-item__bottom
										.cat-item__status
											+svg('ic-tick','ic-tick', '10', '8')
											=item.status

										.cat-item__price
											span.cat-item__cur-price= item.price
					
					.cat-list-slider-more
						a.btn.btn_border(href='#') Перейти в каталог

	section.advant-wrap
		.container
			.row
				.col-4.d-none.d-lg-block
					.advant-wrap__img
						img(src="assets/img/advant.png", alt="")
				
				.col-lg-8
					.advant
						-
							var list=[
								{icon:'advant1.png', title:'Натуральный кератин', text:'Полученный из овечий шерсти экологически чистым путём'},
								{icon:'advant2.png', title:'Не содержит формальдегид', text:'Гипоалергеный состав. Абсолютно безопасен для здоровья'},
								{icon:'advant3.png', title:'4 вида кератина', text:'Применение индивидуально под каждый тип волос'},
								{icon:'advant4.png', title:'Роскошные и гладкие', text:'Ослепительно блестящие волосы на 6 месяцев'},
							]

						each item in list
							.advant__item
								.advant__icon
									img(src="assets/img/"+item.icon, alt="")

								.advant__content
									.advant__title= item.title
									.advant__text= item.text


	section.gallery-wrap
		.container
			.row
				.col-12
					.gallery
						.gallery__list
							-
								var list=[
									{img:'gallery1.jpg', size:'big'},
									{img:'gallery2.jpg', class:'d-none d-md-block'},
									{img:'gallery3.jpg', class:'d-none d-md-block'},
									{img:'gallery4.jpg', class:'d-none d-md-block'},
									{img:'gallery5.jpg', class:'d-none d-md-block'},
								]

							each item in list
								a.gallery__item(href='assets/img/'+item.img, data-fancybox='gallery', class=item.size=='big'?'gallery__item_big':'d-none d-md-block')
									img(src="assets/img/"+item.img, alt="")

						.gallery__more
							a.btn.btn_border(href='#') Перейти в фотогалерею

	section.about.bg-grey
		.container
			.row
				.col-lg-6
					.about__content
						.h1 О нас

						p Компания «ГКератин» — надежный партнер в области бьюти-индустрии. Широкая сеть дистрибуции охватывает всю территорию России и количество наших партнеров профессиональной косметики постоянно расширяется. 
						p Более 10 лет нашей продукцией пользуются профессиональные стилисты и их клиенты на всей территории России, что обусловлено высокой эффективностью средств и подтверждено европейскими и американскими исследовательскими центрами сертифицирования; отличными показателями экономичности всей продукции (косметики для салонов) - низким расходом и невысокой себестоимостью процедур для конечного клиента; полным пакетом профессиональных услуг для салонов красоты и частных мастеров.

						a.btn.btn_border(href='#') Подробнее

				.col-lg-6
					.about__img
						img(src="assets/img/about.png", alt="")

	section.news-list-wrap
		.container
			.row
				.col-12
					.h1.text-center Новости
			
			.news-list
				.row
					-
						var list=[
							{img:'news1.jpg', date:'4 Декабря 2019', title:'Закажи новую лимитированную коробочку GKhair'},
							{img:'news2.jpg', date:'17 Мая 2020', title:'Антисептик для рук любимых клиентов', class:'d-none d-md-block'},
							{img:'news3.jpg', date:'24 Декабря 2019', title:'Подарочные карты GKhair', class:'d-none d-md-block'},
						]
					
					each item in list
						.col-md-4(class=item.class)
							a(href="#").news-item
								.news-item__img(style="background-image: url(assets/img/"+item.img+")")

								.news-item__content
									.news-item__date= item.date
									.news-item__title= item.title

			.news-list-wrap__more
				a.btn.btn_border(href='#') Все новости